.header {
  background-color: lightgrey;
  margin-top: -30px;
  padding-top: 25px;
  padding-bottom: 7px;

}

.title {
  display: block;
  margin: 30px auto 30px auto;
  max-width: 270px;
  color: #ce0213
}


.App {
  text-align: center;
}

.word-big {
  font-size: 36px;
  letter-spacing: 6px;
  margin-bottom: 30px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;

}

.lose {
  color: #ce0213;
}


.Input {
  display
  margin-top: 100px;
}

.CreateGame {
  margin-top: ;
  border: solid 2px black;
  padding: 10px;
  letter-spacing: 1px;
}

.CreateGame:hover {
  background-color: #ce0213;
  border: solid 2px #ce0213;
  color: white;
  font-weight: bold;

}

.CreateGame:focus {
  outline: none;
}

.result {
  font-weight: bold;

}

p {
  margin-top: 20px;
}

#text-input {
  border: 2px solid black;
  height: 15px;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  margin-right: 5px;
  width: 90px;
}

#text-input:focus {
  border: 2px solid #c90216;
  outline: none;
}

.guess-info {
  font-size: 14px;
}
