.title {
  display: block;
  margin: 30px auto 30px auto;
  max-width: 300px;
}

.App {
  text-align: center;
}

.Word {
  font-size: 30px;
  letter-spacing: 4px;
  margin-bottom: 50px;

}

.Input {
  display
  margin-top: 100px;

}

.Guesses {
  margin-bottom: 30px;
}

.CreateGame {
  margin-top: 10px;
  border: solid 2px black;
  padding: 10px;
}

.CreateGame:hover {
  background-color: grey;
  color: white;
}

.result {
  font-weight: bold;

}

p {
  margin-top: 20px;
}

#text-input {
  border: 2px solid black;
  height: 15px;
  padding: 10px;
  font-size: 16px;
  margin-right: 5px;
}

.button {
  border: 2px solid black;
  height: 37px;
}

.button:hover {
  background-color: grey;
  color: white;

}
